@model CreateMessageDto
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bize Ulaşın
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-action="SendMessage" asp-controller="Default">
                        <div>
                            <input type="text" class="form-control" asp-for="NameSurname" required placeholder="Adınız Soyadınız" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Telefon Numaranız" asp-for="Phone" required />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email Adresiniz" asp-for="Mail" required />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Konu" asp-for="Subject" required />
                        </div>
                        <div>
                            <textarea rows="10" asp-for="MessageContent" class="form-control" placeholder="Mesajınız" required></textarea>
                        </div>

                        <div class="btn_box">
                            <button>
                                Mesajı Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d403099.87783927465!2d32.17684304925869!3d37.87858900499645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08568d615f745%3A0x240dd0fc08060967!2sKonya!5e0!3m2!1str!2str!4v1702643363373!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>