<div class="hero_area">
    <div class="bg-box">
        <img src="/feane-1.0.0/images/hero-bg.jpg" alt="">
    </div>
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        SignalR Restoran
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="/Default/Index/">Anasayfa </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Menu/Index/">Menü</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/AboutUI/Index/">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/BookATable/Index/">Rezervasyon<span class="sr-only">(current)</span> </a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="#" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="cart_link" href="/Baskets/Index/">
                            <i class="fa fa-shopping-cart" style="color:#fff"></i>
                        </a>
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                        <a href="/Menu/Index/" class="order_online">
                            Sipariş
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
